body {
    font-family: roboto;
    font-size: 12px; 
    color: #333; 
    background: #f8f8f8;
}

p {
    font-family: roboto;
    font-size: 16px;
    color: #333;
    text-align: justify;
    margin-bottom: 0px;
}

#main-container {
    display: grid;
    grid-template-columns: 300px 1fr;
    gap: 50px;
    min-height: 100vh;
    min-width: 100%;
    background: #f8f8f8;
}

#date-input-container {
    width: 100%;
    height: 5vh;
    padding: 5vh;
}

.dropdown {
    background-color: #f8f8f8; /* Background color */
    color: #333; /* Text color */
    padding: 10px; /* Padding inside the dropdown */
    width: 120px;
    border: 2px solid #ddd; /* Border color and width */
    border-radius: 4px; /* Rounded corners */
    font-size: 16px; /* Text font size */
    cursor: pointer; /* Cursor type */
    margin-top: 50px;
}

.dropdown:hover {
    border-color: #bbb; /* Border color on hover */
}

.dropdown:focus {
    outline: none; /* Remove default focus outline */
    border-color: #999; /* Border color when focused */
}

.button {
    background-color: #ececec; /* Background color */
    color: #333; /* Text color */
    padding: 10px; /* Padding inside the dropdown */
    border: 2px solid #ddd; /* Border color and width */
    border-radius: 4px; /* Rounded corners */
    font-size: 16px; /* Text font size */
    cursor: pointer; /* Cursor type */
    margin-top: 50px;
}

.button:hover {
    border-color: #bbb; /* Border color on hover */
}

.button.centered {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

#graph-visual-container {
    height: fit-content;
    width: fit-content;
    padding: 5vh;
    /* border: 5px solid #404040; */
}

.day-div {
    height: 100px;
    width: 100px;
    margin: 25px;
}

.possible-day-div {
    border: 3px solid #404040;
    border-radius: 5px;
    background-color: #f8f8f8; 
    display: flex;
    justify-content: center; 
    align-items: center;    
    z-index: 1; 
}

.possible-day-div.selected {
    background-color: #ececec;  
}

.possible-day-div.real-day-div {
    border: 3px solid #6c8e68;
    background-color: #E6F2E4;
}

.removed-day-div {
    border: 3px solid #404040;
    border-radius: 5px;
    background-color: #f8f8f8; 
    display: flex;
    justify-content: center; 
    align-items: center;    
    z-index: 1; 
    opacity: 0.5; 
}

.placeholder-day-div {
    border: 3px solid #f8f8f8;
}

.month-div {
    display: flex;
}

.horizontal-line-div {
    position: absolute;
    height: 3px;
    width: 100%;
    background-color: #FFD700;
    z-index: 0;
}

.vertical-line-div {
    position: absolute;
    width: 3px;
    height: 100%;
    background-color: #000080;
    z-index: 0;
}

.error_container {
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
}

.error-message {
    color: #e57373;
    font-weight: bold;
}

