body {
    font-family: sans-serif;
    font-size: 12px; 
    color: #333; 
    background: #f8f8f8;
}

p {
    font-family: sans-serif;
    font-size: 16px;
    color: #333;
    text-align: justify;
    margin-bottom: 0px;
}

#main-container {
    display: grid;
    grid-template-columns: 300px 1fr;
    gap: 50px;
    min-height: 100vh;
    min-width: 100%;
    background: #f8f8f8;
}

#date-input-container {
    width: 100%;
    padding: 50px;
}

.dropdown {
    background-color: #f8f8f8; /* Background color */
    color: #333; /* Text color */
    padding: 10px; /* Padding inside the dropdown */
    width: 120px;
    border: 2px solid #ddd; /* Border color and width */
    border-radius: 4px; /* Rounded corners */
    font-size: 16px; /* Text font size */
    cursor: pointer; /* Cursor type */
    margin-top: 50px;
}

.dropdown:hover {
    border-color: #bbb; /* Border color on hover */
}

.dropdown:focus {
    outline: none; /* Remove default focus outline */
    border-color: #999; /* Border color when focused */
}

.dropdown.disabled,
.dropdown:disabled {
    background-color: #f2f2f2; /* Disabled background color */
    color: #ccc; /* Disabled text color */
    border-color: #ccc; /* Disabled border color */
    cursor: default; /* Default cursor for disabled state */
    pointer-events: none; /* Prevents click events */
}

.button {
    background-color: #ececec; /* Background color */
    color: #333; /* Text color */
    padding: 10px; /* Padding inside the dropdown */
    border: 2px solid #ddd; /* Border color and width */
    border-radius: 4px; /* Rounded corners */
    font-size: 16px; /* Text font size */
    cursor: pointer; /* Cursor type */
    margin-top: 50px;
}

.button:hover {
    border-color: #bbb; /* Border color on hover */
}

.button:disabled {
    background-color: #f2f2f2; /* Disabled background color */
    color: #ccc; /* Disabled text color */
    border-color: #ccc; /* Disabled border color */
    cursor: default; /* Default cursor for disabled state */
    pointer-events: none; /* Prevents click events */
}

#introduction-container {
    padding: 50px;
}

#references-container {
    padding: 50px;
}

#conclusion-container {
    padding: 50px;
}


#graph-visual-container {
    height: fit-content;
    width: fit-content;
    padding: 5vh;
    /* border: 5px solid #404040; */
}

#graph-ui-container {
    height: fit-content;
    width: fit-content;
    padding: 50px;
}

.graph-buttons-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px;
    .button {
        margin: 0px;
    }
}

.day-div {
    height: 100px;
    width: 100px;
    margin: 25px;
}

.possible-day-div {
    border: 3px solid #404040;
    border-radius: 5px;
    background-color: #f8f8f8; 
    display: flex;
    justify-content: center; 
    align-items: center;    
    z-index: 1; 
}

.possible-day-div.selected {
    background-color: #ececec;  
}

.possible-day-div.real-day-div {
    border: 3px solid #6c8e68;
    background-color: #E6F2E4;
}

.removed-day-div {
    border: 3px solid #404040;
    border-radius: 5px;
    background-color: #f8f8f8; 
    display: flex;
    justify-content: center; 
    align-items: center;    
    z-index: 1; 
    opacity: 0.5; 
}

.placeholder-day-div {
    border: 3px solid #f8f8f8;
}

.month-div {
    display: flex;
}

.horizontal-line-div {
    position: absolute;
    height: 3px;
    width: 100%;
    background-color: #FFD700;
    z-index: 0;
}

.vertical-line-div {
    position: absolute;
    width: 3px;
    height: 100%;
    background-color: #000080;
    z-index: 0;
}

.public-announcement-container {
    padding: 25px;
    display: flex;
    justify-content: center; 
    align-items: center;
}

.error_container {
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.error-message {
    color: #e57373;
    font-weight: bold;
}

ol {
    font-size: 16px;
}

#references-container {
 ol {
    list-style-type: none;
    counter-reset: list-counter;
    padding-left: 0; /* Removes padding */
    margin-left: 0; /* Adjusts margin to ensure list starts from the edge */
    font-size: 16px;
  }
  ol li {
    margin: 0; /* Ensures no additional space around list items */
    padding: 0; /* Adjusts padding to ensure text alignment */
    position: relative; /* Needed for absolute positioning of the label */
    padding-left: 50px; /* Shifts entire content of the list item to the right */
  }
  ol li::before {
    counter-increment: list-counter;
    content: "[" counter(list-counter) "] ";
    position: absolute;
    left: 0; /* Positions the label at the start of the list item */
    margin-right: 25px; /* Adds space between the label and the list item text */
  }
  ul {
    font-size: 16px;
  }
}
  object {
    width: 100%;
    height: 100%;
}